*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/sonarlint/issuestore/8/9/8998ed97b9c6cf699656cfe57cdfefaa60fd9cca
/.idea/sonarlint/securityhotspotstore/8/9/8998ed97b9c6cf699656cfe57cdfefaa60fd9cca
/.idea/sonarlint/issuestore/d/0/d0d93e591ac64c30c2e683b23213d0179994dcaa
/.idea/sonarlint/securityhotspotstore/d/0/d0d93e591ac64c30c2e683b23213d0179994dcaa
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
